<footer>
    <div class="f-info enhanced">
        <div class="f-info-social">
            <a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-company">Airbnb Primate Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div class="f-copyright">
        <p>&copy; 2026 Airbnb Primate Limited. All rights reserved.</p>
    </div>
</footer>