<footer class="airbnb-footer">
    <div class="footer-shell">
        <section class="footer-explore">
            <h2>Inspiration for future getaways</h2>
            <div class="footer-tabs" role="tablist" aria-label="Footer categories">
                <a href="#" class="footer-tab active">Popular</a>
                <a href="#" class="footer-tab">Arts &amp; culture</a>
                <a href="#" class="footer-tab">Beach</a>
                <a href="#" class="footer-tab">Mountains</a>
                <a href="#" class="footer-tab">Outdoors</a>
                <a href="#" class="footer-tab">Things to do</a>
            </div>

            <div class="footer-destinations-grid">
                <a href="#" class="footer-destination"><span class="city">Cleveland</span><span class="type">Apartment rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Athens</span><span class="type">Villa rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">San Juan</span><span class="type">Flat rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Galveston</span><span class="type">Holiday rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Chicago</span><span class="type">House rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">San Diego</span><span class="type">Holiday rentals</span></a>

                <a href="#" class="footer-destination"><span class="city">Clearwater</span><span class="type">Flat rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Outer Banks</span><span class="type">Apartment rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Washington</span><span class="type">Flat rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Destin</span><span class="type">Villa rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Amsterdam</span><span class="type">House rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Raleigh</span><span class="type">Villa rentals</span></a>

                <a href="#" class="footer-destination"><span class="city">Honolulu</span><span class="type">Monthly Rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Wilmington</span><span class="type">Holiday rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Key West</span><span class="type">House rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">Pocono Mountains</span><span class="type">Cabin rentals</span></a>
                <a href="#" class="footer-destination"><span class="city">St. Petersburg</span><span class="type">Flat rentals</span></a>
                <a href="#" class="footer-destination footer-show-more"><span class="city">Show more <i class="fa-solid fa-chevron-down"></i></span></a>
            </div>
        </section>

        <section class="footer-links-grid">
            <div class="footer-link-col">
                <h3>Support</h3>
                <a href="#">Help Centre</a>
                <a href="#">Get help with a safety issue</a>
                <a href="#">AirCover</a>
                <a href="#">Anti-discrimination</a>
                <a href="#">Disability support</a>
                <a href="#">Cancellation options</a>
                <a href="#">Report neighbourhood concern</a>
            </div>

            <div class="footer-link-col">
                <h3>Hosting</h3>
                <a href="#">Airbnb your home</a>
                <a href="#">Airbnb your experience</a>
                <a href="#">Airbnb your service</a>
                <a href="#">AirCover for Hosts</a>
                <a href="#">Hosting resources</a>
                <a href="#">Community forum</a>
                <a href="#">Hosting responsibly</a>
                <a href="#">Join a free hosting class</a>
                <a href="#">Find a co-host</a>
                <a href="#">Refer a host</a>
            </div>

            <div class="footer-link-col">
                <h3>Airbnb</h3>
                <a href="#">2025 Summer Release</a>
                <a href="#">Newsroom</a>
                <a href="#">Careers</a>
                <a href="#">Investors</a>
                <a href="#">Airbnb.org emergency stays</a>
            </div>
        </section>

        <div class="footer-bottom-bar">
            <div class="footer-bottom-left">
                <span>&copy; 2026 Airbnb, Inc.</span>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Company details</a>
            </div>

            <div class="footer-bottom-right">
                <a href="#" class="footer-pref"><i class="fa-solid fa-globe"></i> English (IN)</a>
                <a href="#" class="footer-pref">&#8377; INR</a>
                <a href="#" class="footer-social"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="footer-social"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="footer-social"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>